fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
sqlalchemy
pydantic
pydantic-settings
langchain-community
langchain-cohere
pinecone
pandas
streamlit
python-dotenv
httpx
